<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard page</title>
	</head>
	<body>
		<h3>Dashboard page</h3>
    <% if (user) { %>
      <div>
        <div>Xin chào, <span><%= user.email %></span></div>
        <a href="logout">Đăng xuất</a>
      </div>
    <% } %>
	</body>
</html>
